@import '../../../assets/style/variable.scss';

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .home-content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 80%;
    padding-top: 60px;

    .title-container {
      .mini-title {
        color: #B2ADED;
        font-size: 16px;
        margin: 0px;
      }

      .title {
        color: #EBEEF5;
        font-size: 50px;
        font-weight: bold;
        margin: 0px;

        span {
          font-size: 20px;
        }
      }
    }

    .movie-cards-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 24px;

      .movie-card {
        width: calc((100%/3) - 24px);
        min-width: 300px;
        align-self: stretch;
      }
    }
  }

}

.input-container {
  display: flex;
  width: 100%;
  padding: 20px 19px;
  column-gap: 10px;
  border-radius: 13px;
  border: 1px solid #20283E;
  background: #0F1627;

  i {
    font-size: 19px;
    color: $app-text-grey
  }

  input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;

  }

}
